body {
  background-image: url("../images/background2.jpeg");
}
.island {
    background: rgb(211, 211, 211);
    border-radius: 4px;
    margin: auto;
    margin-bottom: 40px;
    padding: 30px;
    padding-bottom: 24px;
    width: 50%;
    height: 200px;
    box-shadow: 100px 160px 400px black;
}
.date-button{
  padding: 5px;
  margin: 5px;
  margin-right: 0px;
}
.select1 {
  display: inline-block;
}
.select2 {
  float: right;
}
.btn {
  margin-top: 5px;
  background-color: blue;
  color: white;
}
.row {
  border: 3px solid black;
  border-right: 0px;
  line-height: 64px;
  text-align: center;
  background-color: grey;
  height: 73px;
}
.center {
  background-color: white;
  border: 3px solid black;
  border-top: 0px;
  height: 70px;
  line-height: 64px;
  text-align: center;
}
.header {
  text-align: center;
  background-color: rgb(211, 211, 211);
  height: 70px;
  border-radius: 4px;
  margin-bottom: 145px;
  padding: 10px;
  box-shadow: 100px 70px 120px black;
}