body{
  background-color: black;
  background-image: url('/assets/images/sideview.jpg');

}

.island {
  margin: 0px;
  padding: 10px;
  width: 100%;
  height: 400px;
  background-color: red;
}
.select1 {
  display: inline-block;
}
.select2 {
  float: right;
}
.btn {
  clear:both;
  background-color: blue;
  color: white;
}

#time{
  
  
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  font-family: 'Contrail One', cursive;
  
}